.customer_form label{
    color: #3b82f6
}

.customer_form tr{
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    gap: 2rem;
}

.customer_form tr th{
    grid-column-end: span 1;
}

.customer_form tr th{
    grid-column-end: span 2;
}

.input_div{
    height: 2rem;
    background-color: bisque;
    border-radius: 10px;

}

.input_div>input{
    width: 100%;
    padding: 0 1rem;
    background-color: blanchedalmond;
}