{% extends 'account/base.html' %}
{% load static %}
{% block content %}

<div class="w-11/12 md:flex  mt-8 px-4">
    <div class="md:col-span-1 md:w-4/12 bg-white py-2 mx-4 mt-8 px-8 pt-8 flex items-center flex-col">
        <button class="w-full"><a class=" block w-full text-center text-white rounded px-4 py-1 bg-blue-700 hover:bg-blue-600" href="{% url 'userpage' %}"> Back Home</a></button>
        <div class="mt-8">
            <img class="rounded-full" src="{{request.user.customer.profile_pix.url}}">
        </div>
    </div>
    <div class="md:col-span-2 md:w-8/12 bg-white py-2 mx-4 px-8 mt-8 pt-8">
        <form class="rounded py-8 px-4  w-full" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <h1 class="text-2xl border-b pb-2 mb-4  w-full">Update User</h1>
            <div class="input_div my-1 w-full">
                <label class="block mb-2">Name:</label>
                {{form.name}}
            </div>
            <div class="input_div my-1 w-full">
                <label class="block mb-2">Phone:</label>
                {{form.phone}}
            </div>
            <div class="input_div my-1 w-full">
                <label class="block mb-2">Email:</label>
                {{form.email}}
            </div>
            <div class="input_div my-1 w-full">
                <label class="block mb-2 mt-8">Profile Picture:</label>
                {{form.profile_pix}}
            </div>
            <button class="hover:bg-blue-600 py-2 px-4 my-4 rounded bg-blue-700 text-white">Submit</button>
        </form>
    </div>
</div>

{% endblock %}

